footer {
    text-align: right;
    margin: 5vw;
}
.main {
    padding: 10vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

.videoPlayer {
    width: 85vw;
    height: auto;
}

